# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
npm-debug.log

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile
.eslintrc.json
.prettierrc
.vscode
*.log
*.md
!README.md

# Development and test folders
__tests__
coverage
.github
.husky
.next/cache

# Deployment files
deployment/
